html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
    width: 100vw;
}

.joinInnerContainer {
    width: 100%;
    background-color: #252332;
    padding: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.react-tabs__tab--selected {
    background-color: #252332;
    border-color: #252332;
    color: white;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #252332;
    margin: 0;
    padding: 0;
}

.joinInput {
    border-radius: 4px;
    background-color: #353147;
    padding: 15px 20px;
    width: 100%;
    border: none;
}

.heading {
    font-size: 2em;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}



@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }

    .joinInnerContainer {
        width: 90%;
    }

    .heading {
        /* color: white; */
        font-size: 1em;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }


}

button:focus {
    outline: 0;
}